{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is hamada's page</h3>
    <a href="http://127.0.0.1:5000/kiro"  title="go to second page">kiro page</a>
    <a href="http://127.0.0.1:5000/tolba"  title="go to first page">tolba page</a>
    <a href="http://127.0.0.1:5000/balo"  title="go to fource page">balo page</a>
    <hr>
    </header>
    <body>
        <p>CR7</p>
    <div>
        <img src="https://c4.wallpaperflare.com/wallpaper/17/930/563/cristiano-ronaldo-portugal-wallpaper-preview.jpg" alt="">
    </div>
    </body>
{%endblock%}