{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is hamada's page</h3>
        <a href="http://127.0.0.1:5000/kiro"  title="go to second page">kiro page</a>
    <a href="http://127.0.0.1:5000/tolba"  title="go to first page">tolba page</a>
    <a href="http://127.0.0.1:5000/balo"  title="go to fource page">balo page</a>
    <hr>
    
    </header>
    <body>
       <h3>I am Kiras Fawzi Kamel and this is:
        This site consists of four pages. All pages contain links to other pages. The first page allows us to move to the second page by clicking on kiropage, which has four buttons. Clicking on any player among them takes us to another page that displays the players name and the list in which the players are located. When clicking on the players name He takes us to a page that shows us his picture</h3>
        
    </body>
{%endblock%}