{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is kiro's page</h3>
    <a href="http://127.0.0.1:5000/tolba"  title="go to first page">tolba page</a>
    <a href="http://127.0.0.1:5000/balo"  title="go to fource page">balo page</a>
    <a href="http://127.0.0.1:5000/hamada"  title="go to thered page">hamada page</a>
    <hr>
    <body>
    <div> 
    <a href="http://127.0.0.1:5000/1" >1</a>
    <a href="http://127.0.0.1:5000/2" >2</a>
    <a href="http://127.0.0.1:5000/3" >3</a>
    <a href="http://127.0.0.1:5000/4" >4</a>
    </div>
    </body>
    </header>
{%endblock%}