{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is hamada's page</h3>
    <a href="http://127.0.0.1:5000/kiro"  title="go to second page">kiro page</a>
    <a href="http://127.0.0.1:5000/tolba"  title="go to first page">tolba page</a>
    <a href="http://127.0.0.1:5000/balo"  title="go to fource page">balo page</a>
    <hr>
    </header>
    <body>
        <p>messi</p>
    <div>
        <img src="https://images.newrepublic.com/12eeb416d4132da1f3a81f9a5979854d45cad94b.jpeg?auto=compress&ar=3%3A2&fit=crop&crop=faces&fm=jpg&ixlib=react-9.0.2&w=958&q=65&dpr=1" alt="">
    </div>
    </body>
{%endblock%}