{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is hamada's page</h3>
    <a href="http://127.0.0.1:5000/kiro"  title="go to second page">kiro page</a>
    <a href="http://127.0.0.1:5000/tolba"  title="go to first page">tolba page</a>
    <a href="http://127.0.0.1:5000/balo"  title="go to fource page">balo page</a>
    <hr>
    
    </header>
    <body>
        <p>modric</p>
        <img src="https://w0.peakpx.com/wallpaper/608/484/HD-wallpaper-luka-modric-madrid-real-luka-modric.jpg" alt="">
    </body>
{%endblock%}