{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is tolba's page</h3>
    <a href="http://127.0.0.1:5000/hamada"  title="go to thered page">hamada page</a>
    <a href="http://127.0.0.1:5000/balo"    title="go to foutce page">balo page</a>
    <a href="http://127.0.0.1:5000/kiro"    title="go to second page">kiro page</a>
   
    </header>
    <body>
    
        <a href="http://127.0.0.1:5000/{{x}}">{{x}}</a>
        
       <h3>{{p}}</h3> 
        
        
        
    </body>
{%endblock%}