{% extends 'base.html'%}
{%block roro%}
   
    <header>
        <h3>this page is hamada's page</h3>
    <a href="http://127.0.0.1:5000/kiro"  title="go to second page">kiro page</a>
    <a href="http://127.0.0.1:5000/tolba"  title="go to first page">tolba page</a>
    <a href="http://127.0.0.1:5000/balo"  title="go to fource page">balo page</a>

    <hr>
    <div>
        <p>zlatan-ibrahimovic-</p>
        <img src="https://e1.pxfuel.com/desktop-wallpaper/939/222/desktop-wallpaper-zlatan-ibrahimovic-2021-zlatan-ibrahimovic-thumbnail.jpg" alt="">
    </div>

    
    </header>
{%endblock%}